
body {

  background-color: #f0e3ff;

}

hr {
  border-color: #916dd5;
  border-top-style: dotted;
  border-bottom-style: none;
  border-right-style: none;
  border-left-style: none;
  border-width: 7px;
  height: 0px;

  width: 6%;

}
a{
  margin: auto;
  color: purple;
  text-align: center;
}
img:hover{
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 155px;
  border-color: #916dd5;
  border-style: solid;
  text-align: center;
  border-width: 10px;
  transition: all 0.6s;
  height: 300px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 155px;
  border-color: #d89cf6;
  border-style: solid;
  text-align: center;
  border-width: 3px;
  height: 300px;

}
h1{
  font-family:Lobster;
  font-size: 5em;
  text-align: center;

  color: #916dd5;
  text-decoration-line: underline;
  text-decoration-color: #d89cf6;

}
h1:hover{
  margin-right: 600px;

  font-family:Lobster;
  font-size: 5em;
  text-align:center;

  color: #3e206d;

  text-decoration-line: underline;
  text-decoration-color: #f0e3ff;
  transition: all 0.6s;
}
h2{
  text-align: center;
  color: #916dd5;
  text-decoration-line: underline;
  text-decoration-color: #d89cf6;
}
h3{
  text-align:center;
  font-family: Lobster;
  font-size: 2em;

  color:#916dd5;
  text-decoration-line: underline;
  text-decoration-color: #d89cf6;
}
p{
  font-family: Lobster;
  text-align: center;
  font-size:1.5em;
}
table{
  font-family: Lobster;
  font-size: 1.5em;
  border-collapse: collapse;
}
ul{
  text-align: center;
    list-style: inside;
  font-family: Lobster;
  font-size: 1.5em;


}
ol{
  text-align: center;
  list-style:inside;
  font-family:Lobster;
  font-size:1.5em;
}
h3.center{
  text-align: center;
}
label{
  font-size: 1.5em;
  font-family: Lobster;
}
input{
  font-size: 1.5em;
  font-family: Lobster;
}
table.center{
margin-left: auto;
margin-right: auto;

}
.li{
  text-align:center;
  font-family: Lobster;
  font-size: 2em;
  color: #916dd8;
  text-decoration-line: underline;
  text-decoration-color: #d89cf6;

}
.li:hover{
  text-align:center;
  font-family: Lobster;
  font-size: 2em;
  color: purple;
  text-decoration-line: underline;
  text-decoration-color:  #f0e3ff;
  
  transition: all .7s;

}
